@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mapContainer {
        height: 100vh;
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #4D4847;
    cursor: pointer;
    border: 0;
}

#map-anchor {
    width: 3rem;
    height: 3rem;
    background: #F5853F;
    opacity: 80%;
    border-radius: 50%;
    font-size: 2rem;
    justify-content: center;
    text-align: center;

    position: absolute;
    transform: translate(0, -3rem);
}

#map-anchor::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 2rem solid #F5853F;

    z-index: -1;
    position: absolute;
    transform: translate(-1rem, -1rem);
}

.campussy1 {
    background: linear-gradient(0deg, rgba(250,70,22,0.5) 0%, rgba(0,33,165,0.014740930551908282) 100%);
}
.campussy2 {
    background: linear-gradient(0deg, rgba(0,33,165,0.5) 0%, rgba(0,33,165,0.014740930551908282) 100%);
@keyframes box-slide {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

.animate-box {
    animation-name: box-slide;
    animation-duration: 0.3s;
}

.no-overflow {
    overflow: hidden;
}