.modal {
    /*E3E3E3
    background: #E3E3E3;
    EfBdeD
    EFBDEB
    43AA8B
    0021A5
    FA4616
    85DCBB*/
    background-image: radial-gradient(#FFFFF0,#FCF5E5,#DCC7AA);
    /* background: #DCC7AA; */
    width: 500px;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
    z-index: 200;
}

.header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.body {
    padding-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
    background-color: rgba(0, 0, 0, 0.7);
}